{% extends 'layout.twig' %}
{% block content %}
    <div id="fh5co-page">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
        {% include 'parts/menu.twig' %}
        <div id="fh5co-main">

            <div class="fh5co-narrow-content">

                {% if user.role == 'admin' %}
                    <p><a href="/dashboard/article/edit/{{ article.id }}" class="btn btn-primary">Modifier L'article</a></p>
                {% else %}

                {% endif %}

                <div class="row row-bottom-padded-md">
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <img class="img-responsive" src="{{ article.image }}" alt="image" width="100%" height="100%">
                    </div>
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <h2 class="fh5co-heading">
                            {{ article.title }}
                            <br>
                            <small>Crée le {{ article.created_at|date("d/m/Y", "Europe/Paris") }}</small></h2>

                        <p id="mytextarea"> {{ article.contentRight|raw }} </p>


                    </div>
                </div>
                <p>{{ article.content|raw }}</p>
            </div>

            <div class="fh5co-narrow-content">
                <div class="row row-bottom-padded-md">



                    <!-- ADD COMMENTS-->
                    <div class="row">
                        <h1>Commentaires</h1>
                        <div class="col-md-4">

                            <button id="btn-add-comment" type="button" class="btn btn-primary">Ajouter un commentaire</button>
                        </div>
                    </div>
                    <br>

                    <div class="row row-bottom-padded-md animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">

                        {% if user.role is empty %}
                            <div id="form-add-comment" class="row" style="display: none; background-color:rgba(0, 0, 0, 0.1);padding: 30px;">
                                <h2>Pour ajouter un commentaire veuillez vous identifier ou vous enregistrer <a href="index.php?action=register"> ici</h2></p>
                            </div>


                        {% else %}
                            <div id="form-add-comment" style="display: none;border-bottom:solid 1px #2d3038;border-top:solid 1px #2d3038" class="fh5co-narrow-content animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                                {% if user.civility == "man" %}
                                    {% set civility = "/assets/images/man.svg" %}
                                {% else %}
                                    {% set civility = "/assets/images/woman.svg" %}
                                {% endif %}

                                <form action="index.php?action=addComment&amp;id={{ post['id'] }}" method="post" >
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group form-check form-check-inline" style="height: 100px">
                                                        <label class="form-check-label" for="inlineRadio2"><img src="{{civility}}" width="64px" height="64px"></label>
                                                        <label class="col-form-label"> &nbsp; Bonjour <span style="color:#873e95">{{user.prenom}}</span> vous pouvez directement ajouter un commentaire ci-dessous.</label>
                                                    </div>


                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea name="comment" id="message" cols="30" rows="7" class="editable-content form-control" placeholder="Commentaire"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="btn btn-primary btn-md" value="Commenter" type="submit">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        {% endif %}

                    </div>

                    <!-- ADD COMMENTS END-->




                    <!-- COMMENTS-->
                    <div id="comments">
                        {% for comments in comments %}

                            {% if comments.civilite == "man" %}
                                {% set civility = "/assets/images/man.svg" %}
                            {% else %}
                                {% set civility = "/assets/images/woman.svg" %}
                            {% endif %}

                            {% if comments.is_valid == 1 %}

                                <div class="col-md-12" style="border-bottom:solid 1px #2d3038;padding-top: 30px; ">
                                    <div class="fh5co-feature animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                                        <div class="fh5co-icon">
                                            <img class="align-self-start mr-3" src="{{ civility }}" alt="Generic placeholder image" width="100%" height="100%">
                                        </div>
                                        <div class="fh5co-text">
                                            <h3>{{ comments.author }}</h3>
                                            <small>Le : {{ comments.comment_date_fr }}</small>
                                            <p>{{ comments.comment|raw|nl2br }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/assets/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="/assets/js/jquery.flexslider-min.js"></script>


    <!-- MAIN JS -->
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#btn-add-comment').click(function(){
                $('#form-add-comment').toggle(400);
            });

        });
    </script>
{% endblock %}


