{% extends 'layout.twig' %}
{% block content %}

    <section class="dashboard-content animate-box fadeIn animated">
        {% include 'parts/menu.twig' %}
        <ol class="breadcrumb">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/articles">Articles</a></li>
            <li class="active">Editer un article</li>

        </ol>
        <div class="container-fluid center">
            <div class="row" style="margin:auto;">
                <div class="widget-left col-md-2 color-grey">
                    {% include('parts/quickView.twig') %}
                    {% include('parts/profile.twig') %}
                </div>
                <div class="col-md-10 animate-box fadeInLeft animated" style="float:right">

                    <div class="widget widget-right">
                        <div class="container-fluid table-responsive">
                            {% if message %}
                            <div class="alert {{ message.status|raw }}">
                                {{ message.message|raw }}
                            </div>
                            {% endif %}
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <p class="btn btn-primary color-blue"><a
                                                href="/article/{{ article.id }}" style="color:#fff">Voir
                                            L'article</a></p>
                                </div>
                                <div class="form-group">
                                    <p class="btn btn-primary color-red"><a
                                                href="/dashboard/article/id/{{ article.id }}" style="color:#fff">Supprimer
                                            L'article</a></p>
                                </div>
                            </form>
                        </div>
                        <br>
                        <form id="form-article-update" method="post" action="" class="add-content-form"
                              enctype="multipart/form-data">
                            <div class="input-group">
         <span class="input-group-addon"><i class="fas fa-hand-point-right"></i>&nbsp;

           Titre</span>
                                <input type="text" class="form-control" name="title-article-update"
                                       value="{{ article.title }}"
                                       placeholder="Titre" aria-describedby="basic-addon1">
                            </div>

                            <br>
                            <div class="input-groupe col-md-6 text-center"
                                 style="padding:10px;background-color:#fff;border:1px solid #ccc;height:400px;line-height:100px;">

                                <label class="control-label"><i class="fas fa-image"></i>&nbsp; Modifier l'image mise en
                                    avant</label>

                                <input type="file" class="filestyle" name="img-article-update" onchange="readURL(this);"
                                       style="margin-left:auto;margin-right:auto;">

                            </div>
                            <div class="input-groupe col-md-6 text-center"
                                 style="padding:10px;background-color:#fff;border:1px solid #ccc;height:400px;line-height:400px;">
                                <img style="text-align:center;width:350px;" id="preview" src="{{ article.image }}"
                                     alt="image">
                                <label id="dimensions"></label>
                            </div>

                            <div class="input-groupe">
                                <label><h4><i class="fab fa-pied-piper"></i>&nbsp; Chapô</h4></label>
                                <textarea name="content-right-article-update" class="editable-content form-control"
                                          rows="20">
          {{ article.contentRight|raw }}</textarea>
                            </div>

                            <div class="input-groupe">
                                <label><h4><i class="fab fa-pied-piper"></i>&nbsp; Contenu</h4></label>
                                <textarea name="content-article-update" class="editable-content form-control" rows="20">
          {{ article.content|raw }}</textarea>
                            </div>
                            <br>
                            <div class="input-groupe">
                                <button id="submit-article-add" type="submit" name="submit-article-update"
                                        class="btn btn-default color-pirple">Modifier L'article
                                </button>
                            </div>


                        </form>

                    </div>

                </div>
            </div>
        </div>
    </section>



{% endblock content %}
