    {% block recentPosts %}

{% for post in posts %}

<tr>
                                          <td class="text-center">{{ post.id }}</td>
                                          <td>
                                              <div>
                                                  <!----><div>
                                                      <div class="checkbox">
                                                          <label>
                                                              <input checked="" name="optionsCheckboxes" type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                                                          </label>
                                                      </div>
                                                  </div>
                                                  <!---->

                                              </div>
                                          </td>
                                          <td><strong>{{ post.title }}</strong></td>
                                          <td>{% set array = post.content|split(' ', 6) %} {{ attribute(array, 0)}} {{ attribute(array, 1)}} {{ attribute(array, 2)}} {{ attribute(array, 3)}} {{ attribute(array, 4)}} ...</td>
                                          <td>{{ post.creation_date_fr }}</td>
                                          <td class="text-right">
                                            <span class="badge badge-primary">Voir</span>
                                            <span class="badge badge-success">Modifier</span>
                                            <span class="badge badge-danger">Suprimer</span>
                                          </td>
                                      </tr>
{% endfor %}
{% endblock recentPosts %}

                                        




