    {% block recentPosts %}
      <div class="card-content">
        <h4 class="card-title">Total Articles : {{ posts['total'] }}</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date de creation</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
          
              {% if page > (posts['nbPage']) %}
                {% set myPage = ('0') %}
                {% else %}
                  {% set myPage = page %}
              {% endif %}
         
              {% for post in posts['paginate'][myPage] %}

                <tr>
                  <td class="text-center">{{ post.id }}</td>
                  <td><strong>{{ post.title }}</strong></td>
                  <td>{% set array = post.content|split(' ', 6) %} {{ attribute(array, 0)}} {{ attribute(array, 1)}} {{ attribute(array, 2)}} {{ attribute(array, 3)}} {{ attribute(array, 4)}} ...</td>
                  <td>{{ post.creation_date_fr }}</td>
                  <td class="text-right">
                    <span class="label label-primary">Voir</span>
                    <span class="label label-success">Modifier</span>
                    <span class="label label-danger">Suprimer</span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="..." id="posts-pagination">
            <ul class="pagination pagination-sm">
             {% for i in range(1, posts['nbPage']) %}
              <li class="page-item"><a class="page-link" href="index.php?action=dashboard&page={{ i }}">{{ i }}</a></li>

            {% endfor %}
          </ul>
        </nav>

      </div>

    </div>

  {% endblock recentPosts %}









