    {% block recentPosts %}
<div class="widget widget-right">
  {% if pageName == ('dashboard') %}
            <h4>Articles récents</h4>
          {% else %}
            <h4>Liste des articles</h4>
  {% endif %}
        <br>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date de creation</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
          
              {% if page > (posts['nbPage']) %}
                {% set myPage = ('0') %}
                {% else %}
                  {% set myPage = page %}
              {% endif %}
         
              {% for post in posts['paginate'][myPage] %}

                <tr>
                  <td class="text-center">{{ post.id }}</td>
                  <td><strong>{{ post.title }}</strong></td>
                  <td>{% set array = post.content|split(' ', 6) %} {{ attribute(array, 0)|raw }} {{ attribute(array, 1)|raw }} {{ attribute(array, 2)|raw }} {{ attribute(array, 3)|raw }} {{ attribute(array, 4)|raw }} ...</td>
                  <td>{{ post.created_at|date("d/m/Y", "Europe/Paris") }}</td>
                  <td class="text-right">
                    <span class="label label-primary color-blue"><a href="index.php?action=post&id={{ post.id }}">Voir</a></span>
                    <span class="label label-success color-pirple"><a href="#">Modifier</a></span>
                    <span class="label label-danger color-red"><a href="#">Suprimer</a></span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if pageName == ('dashboard') %}

          {% else %}
          <nav aria-label="..." id="posts-pagination">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link" href="index.php?action={{ pageName }}&page={{ i }}"> << </a></li>
             {% for i in range(1, posts['nbPage']) %}
              <li class="page-item"><a class="page-link" href="index.php?action={{ pageName }}&page={{ i }}">{{ i }}</a></li>

            {% endfor %}
            <li class="page-item"><a class="page-link" href="index.php?action={{ pageName }}&page={{ i }}"> >> </a></li>
          </ul>
        </nav>
{% endif %}
      </div>
      <br>
      <button class="btn btn-primary color-blue total-btn" type="button">
  <a href="index.php?action=articles">Total <span class="badge">{{ posts['total'] }}</a></span>
</button>
    </div>
  {% endblock recentPosts %}









