{% block recentPosts %}
    {% if page > (posts['nbPage']) %}
        {% set myPage = ('0') %}
    {% else %}
        {% set myPage = page %}
    {% endif %}

    {% for article in articles %}

        <div class="col-md-3 col-sm-6 col-padding animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
            <div class="blog-entry">
                <a href="/article/{{ article.id }}" class="blog-img"><img src="{{ article.image }}"
                                                                                              class="img-responsive"
                                                                                              alt="image"
                                                                                              style="width: 500px;height: 200px;"></a>
                <div class="desc">
                    <h3><a href="#">{{ article.title }}</a></h3>
                    <span><small>Creer le : </small><small>{{ article.created_at|date("d/m/Y", "Europe/Paris") }}</small></span>
                    <div style="max-height: 90px;overflow: hidden;">
                        <p>{{ article.content|raw }} </p>
                    </div>
                    <p>. . .</p>
                    <a href="/article/{{ article.id }}" class="lead">En savoir plus <i
                                class="icon-arrow-right3"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock recentPosts %}







