{% block recentPosts %}

    {% for article in articles %}

        <div class="col-md-3 col-sm-6 col-padding animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
            <div class="blog-entry">
                <a href="index.php?action=post&amp;id={{ article.id }}" class="blog-img"><img src="{{ article.image }}"
                                                                                              class="img-responsive"
                                                                                              alt="image"
                                                                                              style="width: 500px;height: 200px;"></a>
                <div class="desc">
                    <h3><a href="#">{{ article.title }}</a></h3>
                    <span><small>Creer le : </small><small>{{ article.created_at|date("d/m/Y", "Europe/Paris") }}</small></span>
                    <div style="max-height: 90px;overflow: hidden;">
                        <p>{{ article.content|raw }} </p>
                    </div>
                    <p>. . .</p>
                    <a href="index.php?action=post&amp;id={{ article.id }}" class="lead">En savoir plus <i
                                class="icon-arrow-right3"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="col-md-12 col-sm-12 col-padding animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
        <nav aria-label="..." id="posts-pagination">
            <ul class="pagination pagination-sm">
                {% set count = countPages %}
                {% set thisPage = page %}
                {% if thisPage == 0 %}
                    {% set thisPage = 1 %}
                {% endif %}
                <li class="page-item"><a class="page-link" href="/blog/page/{{ thisPage - 1 }}">
                        << </a></li>
                {% for i in range(1,count) %}
                    {% if i == thisPage %}
                        <li class="page-item active"><a class="page-link " href="/blog/page/{{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/blog/page/{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item"><a class="page-link" href="/blog/page/{{ thisPage + 1 }}">
                        >> </a></li>
            </ul>
        </nav>
    </div>

{% endblock recentPosts %}







